NP

In [28]:
import numpy as np

a= np.array([1,2,3],int) # type ndarray 

np.linspace(0,2,10) # The numpy.linspace() function returns number spaces evenly w.r.t interval. 
#Similar to numpy.arange() function but instead of step it uses sample number.

np.logspace(1,10) # The numpy.logspace() function returns number spaces evenly w.r.t interval on a log scale. 

#arange 
print(np.arange(100, 1, -5)) #Return evenly spaced values within a given interval.
#When using a non-integer step, such as 0.1, it is often better to use numpy.linspace.
x2 = [(n ** 2) % 10 for n in np.arange(8)]
print(x2)

# arrays
a1 = np.array([1,2,-3,4,5])
a2 = np.array([10, 20, 30, 40, 50])
print (a1+a2)
print(a1-2)
print ("sine",np.sin(a1)) # Trigonometric sine, element-wise. 
print("Mean",np.mean (a1)) # mean of the array
print("Abs",np.abs(a1)) # negative to positive
print ("Sum",np.sum(a1))

# Logical comparison
a1 = np.array([1,2,-3,30,5])
a2 = np.array([10,20,30,20,4])
print(a1>a2)
print(a1<a2)
print(a1>=a2)
print(np.all(a1<a2)) # a2 all elements are greater than a1 return true
print(np.any(a1>a2)) # a1 any elements are greater than a2 return true

#coping array
a1 = np.arange(1,10,2)
print(a1)
a2 = a1.view() # copy of array 
print(a2)

# working over array iterating over array 
a1= np.arange(1,10)
print(a1)
print("A1 2 to 5",a1[2:5])
print("A1 0 to 8 two step",a1[0:8:2])
print ("A1 4 to last",a1[4:])

# ------------------------------
#multidimensional array
a1 = np.array([10,20,30])
a2 = np.array([[2,5,6],
[20, 30, 40]])
print(a2)

[100  95  90  85  80  75  70  65  60  55  50  45  40  35  30  25  20  15
  10   5]
[0, 1, 4, 9, 6, 5, 6, 9]
[11 22 27 44 55]
[-1  0 -5  2  3]
sine [ 0.84147098  0.90929743 -0.14112001 -0.7568025  -0.95892427]
Mean 1.8
Abs [1 2 3 4 5]
Sum 9
[False False False  True  True]
[ True  True  True False False]
[False False False  True  True]
False
True
[1 3 5 7 9]
[1 3 5 7 9]
[1 2 3 4 5 6 7 8 9]
A1 2 to 5 [3 4 5]
A1 0 to 8 two step [1 3 5 7]
A1 4 to last [5 6 7 8 9]
[[ 2  5  6]
 [20 30 40]]

Pandas

In [53]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5],index=[1,2,3,4,5]) # array object to array conversion
print(s1)
# dictionary to pds
age = {'Bob': 45, 'Alex': 55, 'Sarah': 25}
s3 = pd.Series (age)
s3

# ------------------------------------------------------DF------------------------------------------------------------------------------------
student = [['Alex', 'Marketing', 3.63],
['Sarah', 'Finance', 4.00],
['Martin', 'Information Systems', 3.85]]
f2 = pd.DataFrame(student, columns=['Name', 'Major' ,'CGPA'] ,index=['1001', '1002', '1003'])
f2

employee_dict = {'Name': ['Alex', 'Bob', 'Martin'], 'Salary': [5000, 6500, 4500], 'Position': ['Executive', 'Trainee', 'Officer'],}
objDF = pd.DataFrame(employee_dict)
objDF['Salary']
objDF.Salary
salDf = pd.DataFrame(employee_dict,columns=['Salary'])
salDf.shape
salDf.sample(2)
salDf.info()
salDf.describe()



# -----------------------------------------------------------------------------
objDF = pd.read_csv()
# parameters
# sep str, default ‘,’ Delimiter to use. 
# header int, list of int, None, default ‘infer’ Row number(s) to use as the column names, and the start of the data.
# names array-like, optional List of column names to use
# skiprows list-like, int or callable,Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file.
# comment str, optional Indicates remainder of line should not be parsed. If found at the beginning of

# --------------------------------------------Filter---------------------------------
ages=objDF['Age']
ages
# interger location pandas.dataset.iloc[row, column]
objDF.iloc[0, [1,5]]

#Loc Location (inclusive)
objDF.loc[0,['Survived', 'Age']]
objDF.loc['cobra':'viper', 'max_speed']
# select all female passengers who are over 35 df.loc[(df.Sex == 'female') & (df.Age > 35) & (df. Fare > 50)]
#  --------------------------------------------------------Missing values---------------------------------------------------------
objDF.isna().any()
# df2 = df.dropna (axis=0)  remove row with naan value
# df.dropna(inplace=True)
# df.shape
# df4= df.fillna(df.mean (numeric_only=True))
# -------------------------------------------------------Duplicate-------------------------------
# df_duplicate = pd.concat((df, df.iloc[:3]))
# df_duplicate
# df_duplicate.duplicated()
# df_no_duplicate = df_duplicate.drop_duplicates()
# df_no_duplicate

# -------------------------------------------------------------DF manupilation---------------------------------------
# df.rename({'First Name':'FirstName',
#            'Start Date': 'StartDate',
#            'Last Login Time':'LastLoginTime',
#            'Bonus %':'Bonus', 
#            'Senior Management':'SeniorManagement'}, axis=1,inplace=True)
# df3 = pd.concat((df, df2), axis=0, ignore_index=True)

# ----------------------------------------------------------------------------Transform------------------------------------------------------
# df['Gender2'] = pd.Categorical(df.Gender)
# df.memory_usage()
# planets.groupby('method').mean()
# ---------------------------------------------------------------------------visualize----------------------------------------------------------
# df.plot(x = 'Date', y='Sales', xlabel='Time', ylabel = 'Sales Number',
#         title ="SALES", color='green', linewidth=2, linestyle=':',
#         marker='.',markersize=10, figsize=(8,6), grid=True, )

# -------------------------------------------------------------------------------Pivot Table---------------------------------------------------------------
# age = pd.cut(titanic['Age'], [0, 18, 80])
# titanic.pivot_table('Survived', ['Sex', age], 'Pclass')

1    1
2    2
3    3
4    4
5    5
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Salary  3 non-null      int64
dtypes: int64(1)
memory usage: 152.0 bytes

            Salary
count     3.000000
mean   5333.333333
std    1040.833000
min    4500.000000
25%    4750.000000
50%    5000.000000
75%    5750.000000
max    6500.000000